<div 
    class="button-group"
    role="radiogroup"
    [attr.aria-label]="label">
    <label>{{ label }}</label>
    <div class="radio">
        <input 
            type="radio" 
            [attr.name]="id" 
            [attr.id]="id + '-yes'"
            [attr.checked]="value === options.Yes"
            (change)="activate(options.Yes)">
            <label [attr.for]="id + '-yes'" class="button button-yes">
                Yes
            </label>
    </div>
    <div class="radio">
        <input 
            type="radio" 
            [attr.name]="id" 
            [attr.id]="id + '-no'"
            [attr.checked]="value === options.No"
            (change)="activate(options.No)">
            <label [attr.for]="id + '-no'" class="button button-no">
                No
            </label>
    </div>
    

</div>
<!-- <div
    appKeyboardManager
    role="radiogroup"
    [attr.aria-labelledby]="id"
    class="button-group">
    <label [attr.id]="id" class="label">{{ label }}</label>
    <button 
        appKeyboardManagedItem
        (focused)="activate(options.Yes)"
        role="radio"
        [attr.disabled]="disabled ? disabled : null"
        [attr.tabindex]="value === options.Yes || value === null ? 0 : -1" 
        [attr.aria-checked]="value === options.Yes" 
        type="button" 
        class="button button-yes" 
        [class.button-pressed]="value === options.Yes" 
        (click)="activate(options.Yes)">Yes
    </button>
    <button 
        appKeyboardManagedItem
        (focused)="activate(options.No)"
        role="radio" 
        [attr.disabled]="disabled ? disabled : null"
        [attr.tabindex]="value === options.No || value === null ? 0 : -1" 
        [attr.aria-checked]="value === options.No" 
        type="button" 
        class="button button-no" 
        [class.button-pressed]="value === options.No" 
        (click)="activate(options.No)">No
    </button>
</div> -->