<h1>Accessible Modal Component</h1>

<p>Welcome to the accessible modal testing page!</p>
<button class="button button-primary" type="button" (click)="showModal()">Show modal</button>

<ng-template #modal>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-field">
            <label for="firstName">First name</label>
            <input id="firstName" type="text" formControlName="firstName">
        </div>
        
        <div class="form-field">
            <label for="surname">Surname</label>
            <input id="surname" type="text" formControlName="surname">
        </div>
        
        <div class="form-field">
            <label for="age">Age</label>
            <input id="age" type="text" formControlName="age">
        </div>
    
        <label for="info">Subscribe to newsletter</label>
        <input formControlName="info" type="checkbox" name="" id="info" (change)="info = !info">
        <p [@fade] *ngIf="info">This is a placeholder for more information</p>
        
        <div class="button-group text-align-right">
            <button type="submit" class="button button-primary" [attr.aria-disabled]="form.invalid">Submit</button>
            <button type="button" class="button button-secondary" (click)="modalRef.close()">Cancel</button>
        </div>
    </form>
</ng-template>
